<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="8de59c21-3f9c-4efa-9e0a-6f4adb64c2af" Publisher="CN=Alex" Version="1.0.0.0" />
  <Properties>
    <DisplayName>LudumDare24.Win8</DisplayName>
    <PublisherDisplayName>Alex</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="LudumDare24.Win8.App">
      <VisualElements DisplayName="Move the Cheese" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="LudumDare24.Win8" ForegroundText="dark" BackgroundColor="#FFFFFF">
        <DefaultTile ShortName="Move the Cheese" WideLogo="Assets\WideLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>